@charset "ISO-8859-1";

body, header{
  font-family: sans-serif;
  background: white;
}

.header {
	background-color: #6790EE;
	margin: -8px;
	margin-bottom: 0px;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
}

.title {
	color: white;
}

.search {
	margin-top: auto;
	margin-bottom: auto;
}

.body {
	display: flex;
}

.filters {
	margin: 10px;
	width: 20%;
}

.content {
	width: 80%;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
}

.card {
	width: 33%;
}

.card:hover {
	cursor
}

.image {
	display: block;
	width: 50%;
	margin: auto;
}

.card-name {
	text-align: center;
}

.error-star {
 	display: none;
}


.content {
  margin: 0 10em 0 10em;
}

/* @media screen and (max-width: 768px) { */
/*   table { */
/*     display: block; */
/*   } */
/* } */

/* tr { */
/*   display: table-row; */
/*   background: #fff; */
/* } */

/* th { */
/*  	color: #ffffff; */
/* 	background: #6790EE; */
/*  	padding: 1rem; */
/* } */

/* tr:hover{ */
/* 	background: #6790EE; */
	
/* } */